body{background-color:rgb(185, 245, 253);}

hr {
border-style: dashed;
border-top-style: none;
border-color: purple;
border-width: 3px;
height: 2px;
width: 60%;
}
h2 {
    color: rgb(125, 33, 201);
}
p {
    color:rgb(125, 33, 201);
}
ul {
    color:rgb(125, 33, 201);
}

.robot:hover{
     background-color:darkblue;
}